
body
  overflow: hidden
  font-family: 'Play', sans-serif
.App
  display: flex
  flex-direction: column
  justify-content: space-between
  position: relative
  background: #16161C
  padding: 30px 80px 20px
  width: 100vw
  height: 100vh
  overflow: hidden
.site-body
  display: flex
  align-items: center
