
body
  overflow: hidden
  font-family: 'Play', sans-serif

.App
  display: flex
  flex-direction: column
  justify-content: space-between
  position: relative
  background: black
  padding: 50px 80px
  width: 100vw
  height: 100vh
  overflow: hidden

