@import "../../sass/UI-Kit"
.App-header
  display: flex
  align-items: center
.navs
  display: flex
  margin-left: 50%

  &-item
    list-style: none
    margin-right: 40px
    &-link
      color: white
      font-size: 20px
      &:hover
        text-decoration: none
        color: $main-color